:root {
  --text-color: #f0f4f5;
  --background-color: rgb(33, 85, 164);
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html {
  word-break: keep-all;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-left: 20%;
  margin-right: 20%;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  min-width: 15rem;
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  justify-content: center;
}

h1 {
  font-family: 'Lato', sans-serif;
}

i {
  color: var(--text-color);
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

footer {
  text-align: center;
  justify-content: center;
}

ul {
  padding-top: 2rem;
  text-align: center;
  list-style: none;
  margin: auto;
  display: table;
  padding-left: 0;
}

li {
  padding: 0.25rem;
}

ol {
  margin-top: 0.5rem;
  margin-left: 15%;
}

select {
  cursor: pointer;
  text-align-last: center;
  border-color: gray;
}

table {
  margin: auto;
  width: 100%;
  border-top: var(--background-color);
  border-bottom: var(--background-color);
  border-left: var(--background-color);
  border-right: var(--background-color);
  border: 1.3px solid var(--text-color);
  border-collapse: collapse;
}

legend {
  font-size: 1.5rem;
  padding-bottom: 0.7rem;
  font-weight: 600;
  vertical-align: middle;
  display: block;
}

th, td {
  text-align: center;
  padding: 5px;
  border: solid 1px;
}

td {
  background-color: white;
  color: black;
}

input[type=checkbox], label {
  cursor: pointer;
  margin-top: 10px;
}

label {
  font-size: 0.9rem;
}

input[type=button] {
  border-color: #9BFA73;
  color: var(--text-color);
  background-color: #4CAF50;
}

input[type=reset] {
  border-color: #FF5050;
  color: var(--text-color);
  background-color: #ff4040;
}

input[type=button], input[type=reset] {
  padding: 0.6rem 1.5rem;
  margin: 0.3rem 1rem;
  cursor: pointer;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

input[type=button]:hover {
  color: #4CAF50;
  background-color: var(--text-color);
}

input[type=reset]:hover {
  color: #ff4040;
  background-color: var(--text-color);
}

p {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.swal-text {
  font-size: 1.1rem;
}

.index_select {
  width: 8rem;
  height: 2.5rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
}

.index-info {
  background-color: var(--background-color);
  border: 1.5px;
  border-style: solid;
  border-color: var(--text-color);
  color: white;
  padding: 0.5rem;
  padding-top: 0.3rem;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.index-info:hover {
  color: var(--background-color);
  background-color: var(--text-color);
}

.legend-icon {
  width: auto;
  height: auto;
  max-width: 1.8rem;
  max-height: 1.8rem;
}

.checkselect {
  width: 3.5rem;
  height: 1.8rem;
  border-radius: 3px;
  font-size: 1rem;
  color: red;
}

#container {
  display: grid;
  width: 100%;
  grid-template-columns: 75% 25%;
}

.item {
  text-align: right;
}

.info-btn {
  background-color: var(--background-color);
  border: 1.5px;
  border-style: solid;
  border-color: var(--text-color);
  color: white;
  padding: 0.3rem;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.info-btn:hover {
  background-color: RoyalBlue;
}

.standard_number {
  width: 2.9rem;
  height: 1.5rem;
  text-align: center;
  border: 0px;
  font-size: 1rem;
  font-family: inherit;
  color: blue;
}

.inputnumber {
  width: 3.25rem;
  height: 1.5rem;
  text-align: center;
  border-radius: 3px;
  font-family: inherit;
  font-size: 1rem;
  border-color: gray;
  color: red;
}

.totalnumber {
  width: 2.5rem;
  height: 1.5rem;
  text-align: center;
  border: 0px;
  font-family: inherit;
  font-size: 1rem;
  color: red;
}

.call {
  text-align: center;
  font-size: 1.2rem;
  font-family: inherit;
  cursor:pointer;
}

.buttons {
  margin: auto;
  text-align: center;
  display: block;
}

#check4grad_logo {
  width: auto;
  height: auto;
  max-width: 17rem;
}

#c4g_logo {
  width: auto;
  height: auto;
  max-width: 10rem;
}

#index_logo {
  width: auto;
  height: auto;
  max-width: 12rem;
  max-height: 12rem;
}

#logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: auto;
  height: auto;
  max-width: 5rem;
  max-height: 5rem;
}

#H2U {
  margin: auto;
  justify-content: center;
}

#H2Utitle {
  text-align: center;
  margin: 0;
}

#ad-year {
  width: 5rem;
}

#elective_liberal, #free_point, #liberal_input, #cross_point1, #cross_point2, #cross_point3 {
  color: blue;
}

#MultiMajor_select {
  width: 6.5rem;
}

#ad-year, #MultiMajor_select, #Major_select, #college_select {
  border-radius: 5px;
  height: 2rem;
}

#Major_select, #college_select {
  min-width: 6rem;
}

#dept, #phone, #Davinci {
  border: none;
  font-size: 1.2rem;
  color: var(--text-color);
  background-color: var(--background-color);
  text-align: center;
}

#dept {
  width: 15rem;
  cursor:pointer;
}

#Davinci {
  width: 10.5rem;
}

#phone {
  width: 7.5rem;
}

#phone, #Davinci {
  cursor:pointer;
}

#fusion-options {
  height: 1.5rem;
}

#TopBtn {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  z-index: 99;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #f0f4f5;
  color: var(--background-color);
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 0.5rem;
  opacity: 0.4;
}

#TopBtn:hover {
  background-color: #98c1fe85;
  color: var(--text-color);
}

@media all and (orientation:portrait) {
  html {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  ol {
    padding-left: 20px;
    margin-left: 0;
  }

  .chnth { /* 중문, 영문 페이지  th tag */
    font-size: 0.8rem;
  }

  .checkselect {
    width: 3.5rem;
    height: 2.2rem;
    font-size: 1.3rem;
  }

  .inputnumber {
    width: 3.5rem;
    height: 2.2rem;
    font-size: 1.3rem;
  }

  .totalnumber {
    width: 3.5rem;
    height: 2rem;
    font-size: 1.3rem;
  }

  #index_logo {
    max-width: 10rem;
    max-height: 10rem;
  }

  #page_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    background: var(--background-color);
    justify-content: center;
    align-items: center;
    border-color: var(--text-color);
    border-bottom: 0.5px solid;
    z-index: 10;
  }

  #H2U {
    margin-left: 0;
    margin-right: 0;
  }

  #logo {
    margin: 0;
    width: auto;
    height: auto;
    max-width: 3.5rem;
    max-height: 3.5rem;
  }

  table {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  #total_checklist {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 4.5rem;
  }

  #fusion-options {
    width: 5rem;
    height: 1.8rem;
  }

  #TopBtn {
    background-color: gray;
    color: var(--text-color);
  }

  #TopBtn:hover {
    background-color: #98c1fe85;
    color: var(--background-color);
  }
}

#Davinci {
}

footer {
  padding-bottom: 1.5rem;
}

.addthis_inline_share_toolbox {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.at-resp-share-element {
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
}
